body{
    font-family: "Times New Roman", Times, serif;
    background-color: #000000;

}

header{
    padding: 1em;
    background-color: #778899

}

img{
    max-width: 20%; 
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

h1, h2{
    margin-bottom: 5px;
}

.profile{
    height: 50px;
    text-align: center;
}

.nama{
    text-align: center; 
}

.syahrul{
    text-align: center; 
}
