img {
    border-radius: 50px;
    width: 100px;
}
h2 {
    font-size: 20px;
}
body {
    background: linear-gradient(rgb(127, 176, 220), darkblue);
    font-family: 'trebuchet MS';
    color : white;
    text-align: center;
}

a {
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    display: block;
    margin: 10px;
    color: rgb(81, 121, 185);
    text-align: center;
}

p {
    font-size: 15px;
}