* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* background: linear-gradient(to bottom right, rgb(248, 122, 248), rgb(152, 152, 246)); */
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(WhatsApp\ Image\ 2023-11-22\ at\ 10.30.30_a61c9fc0.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 25px;
    font-weight: bolder;
    background: -webkit-linear-gradient(to right, rgb(248, 122, 248), rgb(152, 152, 246));
    background: linear-gradient(to right, rgb(248, 122, 248), rgb(152, 152, 246));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width:750px) {
    h1 {
        font-size: 35px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    background-color: rgba(0,0,0,.7);
    box-shadow: 0 0 10px rgba(255,255,255,.3);
    border-radius: 10px;
}

.wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    flex-wrap: wrap;
    color: white;
}


.wraper div {
    
    display: flex;
    flex-direction: column;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #2979ff;
    flex-basis: 45%;
}

.wraper input {
    padding: 5px;
    background-color: transparent;
    padding: 0 0;
    color: white;
}

.wraper2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    flex-wrap: wrap;
    padding-bottom: 20px;
    color: white;
}

.wraper2 div {
    flex-basis: 50%;
}

button {
    display: block;
    color: white;
    font-weight: bold;
    padding: 8px 130px;
    background: radial-gradient(circle at top left, rgb(227, 25, 170), rgb(75, 75, 255));
    margin: 0 auto;
    border-style: none;
}

.headingw2 {
    padding-top: 20px;
    color: white;
}

.d-block {
    display: block;
    margin-top: 15px;
}