body {
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(248, 122, 248), rgb(152, 152, 246));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
}

.container div {
    margin: 0 20px;
}

.main {
    margin: 10px 20px;
}

.box {
    padding: 10px 10px; background-color: white; 
    margin: 20px 20px;
    width: 60%;
    height: 47%;
}

button {
    color: white;
    font-weight: bold;
    padding: 5px 165px; background: radial-gradient(circle at top left, rgb(248, 122, 248), rgb(152, 152, 246));
    margin: 10px 0;
    border-style: none;
}