body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
  box-sizing: border-box;
  font-family: sans-serif;
  background: linear-gradient(to bottom right, #00e1fff1, #ff6699);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.container {
  max-width: 100%;
  height: 100%;
}
.box-form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 0px auto;
  padding: 20px 25px 50px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box-form h1 {
  width: 100%;
  font-size: 36px; /* Ukuran font */
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.box_form {
  display: flex;
  width: 100%;
}
form {
  width: 100%;
}
.form1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.space {
  width: 80px;
}
.form2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form1 label {
  font-size: 16px; /* Ukuran font */
  margin-bottom: 5px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.form2 label {
  font-size: 16px; /* Ukuran font */
  margin-bottom: 5px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 24px; /* Ukuran font */
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

#fname {
  height: 30px;
  margin: 0 0 15px;
}
#email {
  height: 30px;
  margin: 0 0 15px;
}
#password {
  height: 30px;
  margin: 0 0 15px;
}
#username {
  height: 30px;
  margin: 0 0 15px;
}
#phone_number {
  height: 30px;
  margin: 0 0 15px;
}
#confirm_pass {
  height: 30px;
  margin: 0 0 15px;
}
.gender {
  display: flex;
  width: 100%;
}
.gender label {
  margin-right: 120px;
}
.button_reg {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  font-weight: 600;
  color: white;
  background: linear-gradient(to right, #00e1fff1, #ff6699);
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* Ukuran font */
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.button_reg:hover {
  background: linear-gradient(to right, #ff6699, #00e1fff1);
  color: black;
}
