@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

::selection {
    background: #ededed;
    color: #06141e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(90deg, rgba(6,20,30,1) 12%, rgba(27,56,77,1) 100%);
    color: #ededed;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main {
    max-width: 100%;
    width: 100%;
    margin-inline: auto;
    flex: auto;
    display: flex;
}

main .content {
    flex: auto;
    display: flex;
    align-items: center;
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.content-desc {
    max-width: 600px;
    flex: auto;
}

.title {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
}

.halotext {
    color: #ededed;
} 

.halotext:hover {
    transition: 0.2s;
    color: greenyellow;
}

.content-desc h3 {
    font-size: 23px;
    font-weight: 700;
    color: dodgerblue;
    margin-left: 1rem;
}

.content-desc p {
    font-size: 18px;
    margin: 20px 0 40px;
}

.content-image {
    flex: 1;
    display: flex;
}

.content-image img {
    border-radius: 100%;
    margin: auto;
    width: 350px;
    height: 350px;
}

main aside {
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
}

main aside .sosmed {
    height: 100%;
    display: flex;
}

main aside .sosmed ul {
    padding: 1rem 1rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    margin: auto;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;    
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

main aside .sosmed li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition: 0.3s;
}

main aside .sosmed li a:hover {
    color: greenyellow;
    transition: 0.3s;
}
